.item{
    display: grid;
    justify-items: center;
    align-items: center;
    border: 5px solid #1c1c1c;
    border-radius: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.728);
    transition: transform 0.3s ease;
}
.item .itemLink{
    height: 38px;
}
.itemPrice{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #FFD700;
}
.itemAlert{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    color: red;
    font-weight: 700;
    font-size: 20px;
}
.itemImage{
    height: 200px;
    width: 250px;
}
.itemName{
    color: #FFD700;
}
.item:hover{
    transform: scale(1.1); /* Aumenta el tamaño del ítem en un 5% al hacer hover */
}
.hoverred:hover{
    border: 5px solid red;
}
.hovergreen:hover{
    border: 5px solid green;
}
.hoverblue:hover{
    border: 5px solid blue;
}
.hoveryellow:hover{
    border: 5px solid yellow;
}
.hoverpurple:hover{
    border: 5px solid purple;
}