.login-screen {
    width: 100%;
    height:  100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

    .login{
        width: 600px;
        padding: 30px;
        border-radius: 10px;
        background-color: white;
    }
    .error{
        color: red;
        display: inline;
        padding-left: 30px;
        font-size: 20px;
    }
}