.checkoutContainer{
    min-height: 70vh;
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
}
.compraExitosa{
    min-height: 70vh;
}

.completeOrderContainer {
    height: calc( 100vh - 140px - 138px );
}