.itemDetailCountContainer{
    margin-left: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    border: 2px solid #FFD700;
    background-color: black;
    width: 170.63px;
}
.itemDetailCount{
    padding: 4.6px 25px 4.6px 25px ;
    color: #FFD700;
    background-color: black;
}
.itemDetailCountButton{
    background-color: black;
    border-color: #FFD700;
    color: #FFD700;
    width: 45px;
    height: 35px;
}
.increment{
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.decrement{
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}