input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 200px; /* Ajusta según sea necesario */
    height: .5px;
    background: white;
    outline: none;
    transition: opacity 0.2s;
}

/* Estilos para el thumb de WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 100%;
}

/* Estilos para el thumb de Firefox */
input[type='range']::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 100%;
}

/* Estilos adicionales para centrar los elementos */
.incrementDecrement {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    background-color: black;
    border: none;
}

label {
    color: white; /* Color del texto de la etiqueta */
    font-weight: bold; /* Negrita para el texto de la etiqueta */
    margin-bottom: 5px; /* Espacio debajo de la etiqueta */
}
.inputButtonsContainer{
    display: flex;
    align-items: center;
}
.sizeIndicator {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    border-radius: 50%; /* Esto hace que el span sea un círculo */
    background-color: white; /* Fondo blanco para el círculo */
}
.starConfirm {
    background-color: black;
    color: white;
    border: none;
}
.rangeDropdown {
    position: relative; /* Establece la posición relativa al contenedor padre */
    border: 3px solid #FFD700;;
    border-radius: 10px;
    padding: 11px 24px 15px 24px;
    text-align: center;
}
.rangeContainer {
    display: none; /* Oculta el rangeContainer por defecto */
    position: absolute; /* Posicionamiento absoluto respecto a rangeDropdown */
    top: 105%; /* Posiciona justo debajo del rangeDropdown */
    left: 0;
    background-color: black;
    z-index: 100; /* Asegura que se muestre sobre otros elementos */
}
.rangeDropdown:hover .rangeContainer {
    display: block; /* Muestra el rangeContainer cuando se hace hover sobre rangeDropdown */
}
.starIndicator {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%; /* Esto hace que el span sea un círculo */
    background-color: white; /* Fondo blanco para el círculo */
    animation: blinkAnimation 2.5s infinite; /* Aplica la animación de parpadeo */
}

@keyframes blinkAnimation {
    0%, 100% {
        opacity: 1; /* Completamente visible */
    }
    50% {
        opacity: 0; /* Completamente invisible */
    }
}