.rangeContainer > div {
    display: flex; /* Usa flexbox */
    align-items: center; /* Centra los elementos verticalmente */
    gap: 10px; /* Espacio entre los elementos */
}

.rangeContainer > div > div {
    margin-right: 10px; /* Espacio entre la etiqueta y el input range */
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 200px; /* Ajusta según sea necesario */
    height: .5px;
    background: white;
    outline: none;
    transition: opacity 0.2s;
}

/* Estilos para el thumb de WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 100%;
}

/* Estilos para el thumb de Firefox */
input[type='range']::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 100%;
}

/* Estilos adicionales para centrar los elementos */
.incrementDecrement {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    background-color: black;
    border: none;
}

label {
    color: white; /* Color del texto de la etiqueta */
    font-weight: bold; /* Negrita para el texto de la etiqueta */
    margin-bottom: 5px; /* Espacio debajo de la etiqueta */
}
.inputButtonsContainer{
    display: flex;
    align-items: center;
}
.sizeIndicator {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    border-radius: 50%; /* Esto hace que el span sea un círculo */
    background-color: white; /* Fondo blanco para el círculo */
}
.starConfirm {
    background-color: black;
    color: white;
    border: none;
}